/* Basic callout popup */

.basic-callout {
	background: #F7f7f8;
        width: 50vh;
        height: auto;
        border: 2px solid #363f4d;
        border-radius: 12px;
        padding: 10px;
        position: fixed;
        overflow: hidden;
        z-index: 99999;
      }
  
.basic-callout-header{
	height: auto;
	padding: 0px 10px 0px 10px;
	margin-bottom: 20px;
  }
  
  .basic-callout-img{
	  margin: 10px 0px 10px 0px;
	  width: 100%;
	  border-radius: 12px;
    }
  
  .basic-callout-form {
	  display: inline-block;
        align-content: space-between;
        padding: 10px;
      }
  
  .basic-callout-form.active {
        display: none;
      }
  
  .basic-callout-message {
        color: green;
        display: none;
      }
  
  .basic-callout-message.active {
        display: block;
      }
  
  .basic-callout-close {
        background-color: #F7f7f8;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
  
  
  /* Basic lead form */
  
  .basic-form{
    width: 50vh;
    height: auto;
    padding: 10px;
    position: relative;
    overflow: hidden
  
  }
  
  .basic-form-field{
      width: 20em;;
      height: 50px;
      border: 2px solid #363f4d;
      border-radius: 6px;
      margin: 10px 0px 10px 0px;
      padding: 10px;
      font-size: 18px;
  }
  
  .basic-form-button{
    width: 20em;
    height: 75px;
    background-color: #2dd1ac;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 20px 0px 20px 0px;
    padding: 10px 15px 10px 15px; 
    font-size: 18px;
    font-weight: 500;
      }
